.game {
    width: 100%;
    text-align: center;
}
.game__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    width: 100%;
    

}
.player__name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: white;
}
.player__name__span {
    color: red;
    text-shadow: white 2px 2px;
    font-size: 2rem;
    padding: 1rem;

}
.game__avatars {
    width: 70px;
    height: 70px;
}
.container__button {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
.hard {
    font-size: 2.4rem;
    color: red;
    text-shadow: 2px firebrick orange 2px;
    transition: all 1s ease ;
}
.button__huntDefault {
    font-family: poker;
    padding: 0.8rem;;
    margin: 1rem;
    transition: all 0.5s ease;
    background-color: rgb(74, 74, 74);
}
.button__hunt {
    
    border-radius: 10%;
    transition: all 0.5s ease;
    font-size: 3rem;
    width: 200px;
    height: 120px;
    padding: 0.8rem;
    margin: 1rem;
    background-color: red;
    color: white;
    text-shadow: yellow 1px 1px;
}
.button__giveCard {
    font-family: poker;
    padding: 0.6rem;

} 
.card {
    padding: 2rem;
    width: 140px;
    height:180px;
}
.table__img {
    width: 300px;
    padding: 1.5rem;
}
.table__imgSmall {
    width: 100px;
    height: 120px;
}
.table__div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.container_results {
    text-align: center;
}
.results {
    width: 800px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border:2px solid black;
    transition: all 3s ease;
}
.result__h2 {
    color: white;
}
#button__reload {
    margin-top: 2rem;
    padding: 1rem;
    font-family: poker;
    font-size: 1.5rem;
    color: white;
    background-color: green;
    transition: all 0.5s ease;
    border: 2px solid black;
}
#button__reload:hover {
    margin-top: 2rem;
    padding: 1.5rem;
    font-family: poker;
    font-size: 2rem;
    color: yellow;
    background-color: red;
    border: 3px solid black;
}
.results__text {
    color: white;
    text-shadow: black 2px 2px;
}
